* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.App {
  font-size: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.plans-div {
  display: flex;
  justify-content: center;
}

.plans-div h1:nth-child(2) {
  border-radius: 0 30px 30px 0;
  margin-left: 10px !important;
}

.plans-div h1:nth-child(1) {
  border-radius: 30px 0 0 30px;
  margin-right: 10px !important;
}

h1 {
  font-size: 30px;
  border: 2px solid rgb(124, 114, 114);
  color: white;
}

.ul-div {
  min-height: calc(100vh - 17rem);
}

footer div {
  display: inline-flex;
}

footer {
  text-align: center;
}

footer p,
a {
  font-size: 14px;
  color: #000000;
}

a {
  text-decoration: none;
  margin-left: 3px;
}

a:hover {
  text-decoration: underline;
  color: #000000;
}

input:checked+p {
  text-decoration: line-through;
}

ul {
  width: fit-content;
}


li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
  background: linear-gradient(to right, #0033cc -8%, #000000 102%);
  color: #ffffff;
}

li p {
  inline-size: 400px;
  overflow-wrap: break-word;
}

span:last-child {
  cursor: pointer;
  color: red;
}

input[type=checkbox] {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: black !important;
  border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem black !important;
}

button:hover {
  background-color: red !important;
}

.label {
  margin-top: 20px;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  justify-content: center;
}

.todoForm-input {
  border-radius: 20px 0 0 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 0px;
  outline: none;
  font-size: 30px;
  text-align: center;
}

.todoForm-input::placeholder {
  left: 8px;
  position: relative;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.label div {
  cursor: alias;
}

button {
  transition: linear 0.4s;
  border-radius: 0 20px 20px 0;
  border: 2px solid black;
  -webkit-appearance: none;
  width: fit-content;
  background-color: #212529;
  color: #ffffff;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
}

.button:focus {
  outline: none;
}

.form-check-input {
  margin-right: 10px !important;
}

span {
  margin-left: 10px !important;
}



@media (max-width: 520px) {
  .todoForm-input {
    width: 200px;
    font-size: 22px;
  }

  button {
    font-size: 22px;
  }

  .form-check-input {
    margin-right: 5px !important;
  }

  span {
    margin-left: 5px !important;
  }

  .label,
  ul {
    font-size: 20px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li p {
    inline-size: 200px;
  }

  h1 {
    font-size: 22px;
  }
}

@media (max-width:330px) {

  button {
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .todoForm-input {
    width: 180px;
    font-size: 18px;
  }


  ul {
    font-weight: 600;
    font-size: 16px;
  }
}